# Web framework
fastapi
uvicorn[standard]

# Environment variables
python-dotenv


# Data validation
pydantic

# Database
psycopg2-binary

# Audio & video
yt-dlp

# Audio processing
ffmpeg-python
requests

# Speech-to-text (offline)
openai-whisper
faster-whisper

# NLP / Summarization
torch
transformers
sentencepiece
sumy
nltk
sentence-transformers
numpy<2

# LLM / AI
groq
faiss-cpu

# JWTs
PyJWT

# Utilities
regex
